<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back tab-link back-main-tab" data-tab="#view-home">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Nhập Kho</div>
        <div class="right">
          <!-- Link to enable searchbar -->
          <a class="link icon-only searchbar-enable" data-searchbar=".searchbar">
            <i class="icon f7-icons if-not-md">search</i>
            <i class="icon material-icons md-only">search</i>
          </a>
        </div>
        <form class="searchbar searchbar-expandable searchbar-init" data-search-container=".virtual-list"
          data-search-in=".search-text">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Tìm kiếm..." />
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button">Cancel</span>
          </div>
        </form>
      </div>
    </div>
    <div class="page-content">
      <p class="view-loading">
        <span class="progressbar-infinite color-multi"></span>
      </p>
      <div class="list simple-list searchbar-not-found">
        <ul>
          <li>Không tìm thấy</li>
        </ul>
      </div>
      <div class="list virtual-list media-list searchbar-found chevron-center"></div>
    </div>
  </div>
</template>
<style>
  p {
    margin: 10px 0;
  }
</style>
<script>
  return {
    // Lifecycle Hooks
    beforeCreate() {
      //console.log('componentBeforeCreate', this)
    },
    created() {
      //console.log('componentCreated', this)
    },
    beforeMount() {
      //console.log('componentBeforeMount', this)
    },
    mounted() {
      //console.log('componentMounted', this);
    },
    beforeDestroy() {
      //console.log('componentBeforeDestroy', this);
    },
    destroyed() {
      //console.log('componentDestroyed', this);
    },
    // Component Data
    data: function () {
      // Must return an object
      return {
        items: [
          {
            id: 1234, code: "code 01", code_cus: "code 02",
            finish_date: "20/02/2020", customer_code: "1234",
            customer_name: "customer abc",
            total_sku_wh: 10, total_wh: 30, status: 1
          },
          {
            id: 872842, code: "sku1", code_cus: "sku_customer1",
            finish_date: "20/02/2020", customer_code: "1234",
            customer_name: "customer abc",
            total_sku_wh: 10, total_wh: 30, status: 0
          }
        ],
      }
    },
    // Component Methods
    methods: {
      getData: function (cb) {
        var that = this;
        $$(".view-loading").show();
        nhl.api_getInput(function (data) {
          $$(".view-loading").hide();
          if (Array.isArray(data)) {
            that.items = data.map(x => Object.assign(x, {
              arrive_date: new Date(x.arrive_date),
              arrive_date_text: $.format.date(x.arrive_date, 'dd/MM/yyyy'),
              total_sku_wh_text: $.number(x.total_sku_wh, 0),
              total_wh_text: $.number(x.total_wh, 0),
            }));
            cb && cb(data);
          } else {
            //that.items = [];
            that.items = that.items.map(x => Object.assign(x, {
              arrive_date: new Date(x.arrive_date),
              arrive_date_text: $.format.date(x.arrive_date, 'dd/MM/yyyy'),
              total_sku_wh_text: $.number(x.total_sku_wh, 0),
              total_wh_text: $.number(x.total_wh, 0),
            }));
            cb && cb(that.items);
            app.toast.create({
              text: 'Lỗi lấy danh sách phiếu nhập!',
              closeButton: true,
              closeTimeout: 2000,
            }).open();
          }
        });
      },
      initList: function () {
        var that = this;
        // Dummy items array
        var items = this.items;

        var virtualList = app.virtualList.create({
          // List Element
          el: '.virtual-list',
          // Pass array with items
          items: items,
          // Custom search function for searchbar
          searchAll: function (query, items) {
            var found = [];
            for (var i = 0; i < items.length; i++) {
              let v = items[i];
              var text = `${v.code}${v.code_cus}${v.contact_name}${v.contact_phone}${v.total_sku_wh}${v.total_wh}${v.arrive_date_text}${v.description}${v.customer_code}${v.customer_name}`
              if (text.toLowerCase().indexOf(query.toLowerCase()) >= 0 || query.trim() === '') found.push(i);
            }
            return found; //return array with mathced indexes
          },
          // List item Template7 template
          itemTemplate: `
            <li class="search-text">
              <a href="#" data-id="{{id}}" class="item-link item-content save-input-tmp"> 
                <div class="item-inner item-cell">
                  <div class="item-title-row">
                    <div class="item-title">{{code}}</div>
                    <div class="item-after">{{code_cus}}</div>
                  </div>
                  <div class="item-row">
                    <div class="item-cell">{{arrive_date_text}}</div>
                    <div class="item-cell cell-number">SKU: {{total_sku_wh_text}}</div>
                    <div class="item-cell cell-number">Tổng: {{total_wh_text}}</div>
                  </div> 
                  <div class="item-subtitle"> KH: {{customer_code}} {{customer_name}}</div>  
                  <div class="item-row">
                    <div class="item-cell"></div>
                    <div class="item-cell"></div>
                    <div class="item-cell"></div>
                    <div class="item-cell">.</div>
                  </div>
                </div> 
              </a>
              <div class="hoan-tat-button"> 
                <button class="button button-small button-fill">Hoàn tất</button>
              </div> 
            </li>
            `,
          emptyTemplate: `
            <li class="no-data">
              Không có dữ liệu...
            </li>
          `,
          // Item height
          height: app.theme === 'ios' ? 101 : (app.theme === 'md' ? 121 : 91),
        });
        $$('.save-input-tmp').off('click').on('click', function () {
          var id = +$$(this).data('id');
          INPUT_TMP = that.items.find(x => x.id == id);
          //console.log(INPUT_TMP);
          app.views.inputs.router.navigate({ name: 'input', params: { id } });
        })
      }
    },
    // Page Events
    on: {
      pageMounted: function (e, page) {
        var that = this;
        //console.log('pageMounted', page);
        this.getData(() => {
          that.initList();
        });
      },
      pageInit: function (e, page) {
        $$(".back-main-tab").on('click', function () {
          $$(".tab-link-active").removeClass("tab-link-active");
          $$(".main-tab-link").addClass("tab-link-active");
          $$(".main-tabbar .tab-link-highlight").css("transform", "translate3d(0%, 0px, 0px)");
        });
        var that = this;
        app.on('pageTabShow', (pageEl) => {
          if (pageEl == page.pageEl) {
            that.initList();
          }
        })
      },
      pageBeforeIn: function (e, page) {
        //console.log('pageBeforeIn', page);
      },
      pageAfterIn: function (e, page) {
        //console.log('pageAfterIn', page); 
        this.initList();
      },
      pageBeforeOut: function (e, page) {
        //console.log('pageBeforeOut', page);
      },
      pageAfterOut: function (e, page) {
        //console.log('pageAfterOut', page);
      },
      pageBeforeRemove: function (e, page) {
        //console.log('pageBeforeRemove', page);
      },
    }
  }
</script>