<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Phiếu Nhập</div>
            </div>
        </div>
        <div class="page-content">
            {{#with master}}
            <div class="list media-list no-chevron head-list">
                <ul>
                    <li class="search-text">
                        <a href="#" data-id="{{id}}" class="item-link item-content save-input-tmp">
                            <div class="item-inner item-cell">
                                <div class="item-title-row">
                                    <div class="item-title">{{code}}</div>
                                    <div class="item-after">{{code_cus}}</div>
                                </div>
                                <div class="item-row">
                                    <div class="item-cell">{{arrive_date_text}}</div>
                                    <div class="item-cell cell-number">SKU: {{total_sku_wh_text}}</div>
                                    <div class="item-cell cell-number">Tổng: {{total_wh_text}}</div>
                                </div>
                                <div class="item-subtitle"> KH: {{customer_code}} {{customer_name}}</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            {{/with}}
            <div class="data-table card">
                <div class="card-header">
                    <div class="data-table-title">Danh sách sản phẩm</div>
                </div>
                <div class="card-content">
                    <table>
                        <thead>
                            <tr>
                                <th class="label-cell">SKU</th>
                                <th class="numeric-cell">Số kiện</th>
                                <th class="label-cell">Vị trí đã quét</th>
                            </tr>
                        </thead>
                        <tbody class="sku-list">
                            <tr>
                                <td class="label-cell text-color-green">ABC</td>
                                <td class="numeric-cell">123</td>
                                <td class="label-cell">QRQRQR</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="fab fab-extended fab-center-bottom">
                <a href="#" class="">
                    <i class="icon f7-icons">barcode_viewfinder</i>
                    <div class="fab-text">Quét</div>
                </a>
            </div>
        </div>
</template>
<style>
    p {
        margin: 10px 0;
    }
</style>
<script>
    return {
        // Lifecycle Hooks
        beforeCreate() {
            //console.log('componentBeforeCreate', this)
        },
        created() {
            //console.log('componentCreated', this)
        },
        beforeMount() {
            //console.log('componentBeforeMount', this)
        },
        mounted() {
            //console.log('componentMounted', this);
        },
        beforeDestroy() {
            //console.log('componentBeforeDestroy', this);
        },
        destroyed() {
            //console.log('componentDestroyed', this);
        },
        // Component Data
        data: function () {
            // Must return an object
            return {
                master: INPUT_TMP,
                detail: [{
                    id: 111, "item_id": 1343, sku: "sku1", sku_customer: "sku_customer1",
                    quantity: 15
                },
                {
                    id: 362842, item_id: 3828, sku: "sku2", sku_customer: "sku_customer2",
                    quantity: 10
                }]
            };
        },
        // Component Methods
        methods: {
            //   openAlert: function () {
            //     var self = this;
            //     self.$app.dialog.alert('Hello World');
            //   },
            getData: function (cb) {
                var that = this;
                nhl.api_getInputDetail(that.master.id, function (data) {
                    if (Array.isArray(data)) {
                        that.detail = data;
                    }
                    cb && cb(that.detail);
                });
            },
            initTable: function () {
                var that = this;
                $$('.sku-list').html(
                    that.detail.map(x => `
                        <tr class="scan-sku" data-sku="${x.sku}" >
                            <td class="label-cell sku-code">${x.sku}</td>
                            <td class="numeric-cell ">${x.quantity}</td>
                            <td class="label-cell sku-inputed" data-sku="${x.sku}"></td>
                        </tr>
                    `).join('\n')
                );
                $$('.sku-inputed').forEach(x => {
                    var dx = $$(x);
                    var sku = dx.data("sku");
                    nhl.api_getInputedSku(this.master.id, sku, function (data) {
                        if (Array.isArray(data)) {
                            dx.html(data.map(d => `${d.location} (${d.quantity})`).join('\n'));
                        } else {
                            dx.html('<button class="button"><i class="icon f7-icons">barcode</i></button>')
                        }
                    });
                });

                $$(".scan-sku").off("click").on("click", function () {
                    var sku = $$(this).data("sku");
                    app.popup.open(".inputting-popup");
                    $('.inputting-popup #sku-list').dxDataGrid({
                        dataSource: [
                            { location: "L1", quantity: 5, type: 1 },
                            { location: "L2", quantity: 10, type: 0 }
                        ],
                        filterRow: {
                            visible: false
                        },
                        headerFilter: {
                            visible: false
                        },
                        groupPanel: {
                            visible: false
                        },
                        editing: {
                            mode: "cell",
                            useIcons: true,
                            allowUpdating: true,
                            // allowAdding: true,
                            // allowDeleting: true,
                        },
                        columns: [
                            {
                                dataField: "location",
                                caption: "Vị trí",
                            },
                            {
                                dataField: "quantity",
                                caption: "Số lượng",
                                dataType: "number",
                                format: "###,##0"
                            },
                            {
                                type: "buttons",
                                width: 110,
                                buttons: [
                                    {
                                        hint: "Giảm",
                                        icon: "minus", 
                                        onClick: function (e) {
                                             
                                        }
                                    }, 
                                    {
                                        hint: "Tăng",
                                        icon: "plus", 
                                        onClick: function (e) {
                                             
                                        }
                                    }, 
                                    {
                                        hint: "Xóa",
                                        icon: "trash", 
                                        onClick: function (e) {
                                             
                                        }
                                    },
                                ]
                            },
                        ]
                    })
                })
            }
        },
        // Page Events
        on: {
            pageMounted: function (e, page) {
                //console.log('pageMounted', page);
                var that = this;
                //console.log('pageMounted', page);
                this.getData(() => {
                    that.initTable();
                });
            },
            pageInit: function (e, page) {
                //console.log('pageInit', page);
            },
            pageBeforeIn: function (e, page) {
                //console.log('pageBeforeIn', page);
            },
            pageAfterIn: function (e, page) {
                var that = this;
                that.initTable();
            },
            pageBeforeOut: function (e, page) {
                //console.log('pageBeforeOut', page);
            },
            pageAfterOut: function (e, page) {
                //console.log('pageAfterOut', page);
            },
            pageBeforeRemove: function (e, page) {
                //console.log('pageBeforeRemove', page);
            },
        }
    }
</script>