<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Xuất Kho</div>
      </div>
    </div>
    <div class="page-content">
       
    </div>
  </div>
</template>
<style>
  p {
    margin: 10px 0;
  }
</style>
<script>
  return {
    // Lifecycle Hooks
    beforeCreate() {
      //console.log('componentBeforeCreate', this)
    },
    created() {
      //console.log('componentCreated', this)
    },
    beforeMount() {
      //console.log('componentBeforeMount', this)
    },
    mounted() {
      //console.log('componentMounted', this);
    },
    beforeDestroy() {
      //console.log('componentBeforeDestroy', this);
    },
    destroyed() {
      //console.log('componentDestroyed', this);
    },
    // Component Data
    data: function () {
      // Must return an object
      return {
      
      }
    },
    // Component Methods
    methods: {
      
    },
    // Page Events
    on: {
      pageMounted: function(e, page) {
        //console.log('pageMounted', page);
      },
      pageInit: function(e, page) {
        //console.log('pageInit', page);
      },
      pageBeforeIn: function(e, page) {
        //console.log('pageBeforeIn', page);
      },
      pageAfterIn: function(e, page) {
        //console.log('pageAfterIn', page);
      },
      pageBeforeOut: function(e, page) {
        //console.log('pageBeforeOut', page);
      },
      pageAfterOut: function(e, page) {
        //console.log('pageAfterOut', page);
      },
      pageBeforeRemove: function(e, page) {
        //console.log('pageBeforeRemove', page);
      },
    }
  }
</script>
