<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Hồ sơ</div>
                <div class="right">
                    <!-- Link to enable searchbar -->
                    <a class="link icon-only save-profile" @click="saveProfile">
                        <i class="icon f7-icons if-not-md">save</i>
                        <i class="icon material-icons md-only">save</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="page-content">
            <form class="profile">
                <div class="list no-hairlines-md">
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-media"> 
                                <i class="icon f7-icons if-not-md">person_alt</i>
                                <i class="icon material-icons md-only">person</i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title item-label">Họ</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="lastname" placeholder="Nhập Họ lót...">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-media">
                                <i class="icon demo-list-icon"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title item-label">Tên</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="firstname" placeholder="Nhập tên...">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-media">
                                <i class="icon f7-icons if-not-md">phone</i>
                                <i class="icon material-icons md-only">phone</i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title item-label">Số di động</div>
                                <div class="item-input-wrap">
                                    <input type="tel" name="mobile" placeholder="Nhập Số di động...">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</template>
<style>
    p {
        margin: 10px 0;
    }
</style>
<script>
    return {
        // Lifecycle Hooks
        beforeCreate() {
            //console.log('componentBeforeCreate', this)
        },
        created() {
            //console.log('componentCreated', this)
        },
        beforeMount() {
            //console.log('componentBeforeMount', this)
        },
        mounted() {
            //console.log('componentMounted', this);
        },
        beforeDestroy() {
            //console.log('componentBeforeDestroy', this);
        },
        destroyed() {
            //console.log('componentDestroyed', this);
        },
        // Component Data
        data: function () {
            // Must return an object
            return {

            }
        },
        // Component Methods
        methods: {
            saveProfile: function () {
                var profile = app.form.convertToData('.profile');
                let fn = profile.firstname.replace(/[ \t\~\!\@\#\$\%\^\&\*\(\)\_\+\-\=\`\{\}\|\[\]\\\:\"\;\'\<\>\?\,\.\/\'\"]/g, '');
                if (!fn || !fn.length) {
                    app.toast.create({
                        text: 'Tên không hợp lệ',
                        closeButton: true,
                        closeTimeout: 2000,
                    }).open();
                    return;
                }
                let ln = profile.lastname.replace(/[\t\~\!\@\#\$\%\^\&\*\(\)\_\+\-\=\`\{\}\|\[\]\\\:\"\;\'\<\>\?\,\.\/\'\"]/g, '');
                if (!ln || !ln.length) {
                    app.toast.create({
                        text: 'Họ lót không hợp lệ',
                        closeButton: true,
                        closeTimeout: 2000,
                    }).open();
                    return;
                }
                let mb = profile.mobile.replace(/[^0-9\+\.\(\)\-]/g, '');
                if (!mb || mb.length < 10) {
                    app.toast.create({
                        text: 'Số di động không hợp lệ',
                        closeButton: true,
                        closeTimeout: 2000,
                    }).open();
                    return;
                }

                nhl.api_update_profile(fn, ln, mb, function (err) {
                    if (err) {
                        app.toast.create({
                            text: 'Lỗi lưu hồ sơ. Vui lòng thử lại...',
                            closeButton: true,
                            closeTimeout: 2000,
                        }).open();
                    } else {
                        app.toast.create({
                            text: 'Đã lưu hồ sơ!',
                            closeButton: true,
                            closeTimeout: 2000,
                        }).open();
                    }
                })
            }
        },
        // Page Events
        on: {
            pageMounted: function (e, page) {
                //console.log('pageMounted', page);
            },
            pageInit: function (e, page) {
                //console.log('pageInit', page); 
                app.form.fillFromData('.profile', nhl.data);
            },
            pageBeforeIn: function (e, page) {
                //console.log('pageBeforeIn', page); 
            },
            pageAfterIn: function (e, page) {
                //console.log('pageAfterIn', page);
                app.toolbar.hide('.main-tabbar');
            },
            pageBeforeOut: function (e, page) {
                //console.log('pageBeforeOut', page);
                app.toolbar.show('.main-tabbar');
            },
            pageAfterOut: function (e, page) {
                //console.log('pageAfterOut', page);
            },
            pageBeforeRemove: function (e, page) {
                //console.log('pageBeforeRemove', page);
            },
        }
    }
</script>