/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #f3c71c;
  --f7-theme-color-rgb: 243, 199, 28;
  --f7-theme-color-shade: #dbb00c;
  --f7-theme-color-tint: #f5d143;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 243;
  --g: 199;
  --b: 28;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */
.logo-img{
  height: 150px;
  width: 80%;
  background-image: url(../img/logo-full.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bottom{
  position: absolute;
  bottom:0px; 
  left: 0px;
  right: 0px; 
}
.dialog-input-double{
  margin: 5px 15px;
  padding: 5px 0px;
}
.view-loading{
  margin-top:0px;
  padding-top:0px;
  display: none;
}

.view-loading .progressbar-infinite{
  height: 5px;
}
.no-data{
  text-align: center;
  padding: 30px 5px;
}
.cell-number{
  text-align: right;
}

.segmented-in-list{
  margin-top: 5px; 
}
.hoan-tat-button{
  position: absolute;
  right: 30px;
  bottom: 5px;
}
.head-list{
  margin-bottom: 10px;
}
.list-title-header{
  margin-top: 5px;
  padding-top: 0px;
}